[RFC] Rework the Encryption section

Joonwoong shared updates on the encryption section. Process them:

I read thorough the encryption section again to find whether there are any paragraphs or figures to be removed. My review results are in the attached text file (revised encryption section for RFC draft) and pdf file (for you to check which part I think could be removed at this time). In fact, we can live without most of figures other than packet structures, which is good thing, I guess. For the text, I already removed some of them last time, but excluded a bit more at this time. Overall, most text, however, to be remained…

I’ll try to add reference for crypto algorithms/protocols

[[SRT_RFC]_Encryption_section_.zip](https://github.com/Haivision/srt-rfc/files/5061314/SRT_RFC._Encryption_section_.zip)


@maxsharabayko Please insert the following missing references

clause 5.1, 8th paragraph (references added) 

The KEK is generated by a password-based key generation function (PBKDF2) {{RFC8018}}, which uses the passphrase, a number of iterations (2048), a keyed-hash (HMAC-SHA1) {{RFC2104}}, and a length KEYLEN. The PBKDF2 function hashes the passphrase to make a long string, by repetition or padding. The number of iterations is based on how much time can be given to the process without it becoming disruptive. 

clause 5.2.9, 3rd paragraph (references added) 

The shared secret can be pre-shared; password derived PKCS5 {{RFC8018}}; distributed using a proprietary mechanism, or by using a standard key distribution mechanism such as GDOI {{RFC3547}} or MIKEY {{RFC3830}}. 

clause 5.2.1, 2nd paragraph (references added, and last sentence deleted) 

Integrity protection might eventually be achieved with an Authenticated Encryption with Associated Data (AEAD) cipher such as AES-CCM {{SP800-38C}}or AES-GCM {{SP800-38D}}. 

NEW REFERENCES

```
[SP800-38C]
  SP800-38C:
    title: Recommendation for Block Cipher Modes of Operation: the CCM Mode for Authentication and Confidentiality
    author:
      name: Morris Dworkin
      ins: M. Dworkin
    date: July, 2007
``` 

```
[SP800-38D]
  SP800-38D:
    title: Recommendation for Block Cipher Modes of Operation: Galois/Counter Mode (GCM) and GMAC
    author:
      name: Morris Dworkin
      ins: M. Dworkin
    date: November, 2007
```