Fix idnits warnings

The report can be found [here](https://www6.ietf.org/tools/idnits?url=https://www.ietf.org/archive/id/draft-sharabayko-srt-00.txt).

Here are the complaints:

```
  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  == Using lowercase 'not' together with uppercase 'MUST', 'SHALL', 'SHOULD',
     or 'RECOMMENDED' is not an accepted usage according to RFC 2119.  Please
     use uppercase 'NOT' together with RFC 2119 keywords (if that is what you
     mean).
     
     Found 'MUST not' in this paragraph:
     
     The existing key values MUST not be extended, and MUST not differ
     from those described in this section.

  -- Found something which looks like a code comment -- if you have code
     sections in the document, please surround them with '<CODE BEGINS>' and
     '<CODE ENDS>' lines.


  Checking references for intended status: Informational
  ----------------------------------------------------------------------------

  == Outdated reference: A later version (-34) exists of
     draft-ietf-quic-http-33

  -- Obsolete informational reference (is this intentional?): RFC 2898
     (Obsoleted by RFC 8018)
```

>  == Outdated reference: A later version (-34) exists of
>     draft-ietf-quic-http-33

This may be because it was updated while you were generating `.txt`

>  -- Obsolete informational reference (is this intentional?): RFC 2898
>     (Obsoleted by RFC 8018)

I have looked through RFC 8018, then I couldn't find the reason not to use a new(?) one.